AGORA_APP_ID=YOUR_AGORA_APP_ID
AGORA_TOKEN=YOUR_AGORA_TOKEN
CLOUDFLARE_R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
CLOUDFLARE_R2_ACCOUNT_ID=YOUR_R2_ACCOUNT_ID
CLOUDFLARE_R2_BUCKET_NAME=YOUR_R2_BUCKET_NAME
CLOUDFLARE_R2_PUBLIC_URL_PREFIX=YOUR_R2_PUBLIC_URL_PREFIX
CLOUDFLARE_R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
ZOOZ_SHARE_URL=YOUR_ZOOZ_SHARE_URL
